$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*******************************
        NAVBAR
*******************************/
#topnav {
  -webkit-transition: .5s ease;
  border: 0;
  box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
  min-height: 62px;
  transition: .5s ease;
  z-index: 1030;
}


#topnav .logo {
  float: left;
  line-height: 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.logo {
  vertical-align: center;
}

.get {
  margin: auto;
}

// .offering {
//   background-image: url('https://i.imgur.com/R5Xk457.png');
//   background-size: cover;
//   background-position: center;
//   margin-left: 0;
//   margin-right: 0;
//   margin-bottom: 0;
//   height: 100vh;
//   text-align: center;
// }
