$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

/*******************************
        NAVBAR
*******************************/
.nav {
  // -webkit-transition: .5s ease;
  background-color: $ghostwhite;
  border: 0;
  box-shadow: 0 1px 1px $ghostwhite;
  font-size: 24px;
  font-weight: 700;
  line-height: 70px;
  min-height: 62px;
  transition: .5s ease;
  z-index: 1030;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}


.get {
  margin: auto;
}

.body {
  background-color: $ghostwhite;
  color: $darkgrey;
}

.tagline {
  color: $darkgrey;
  font-family: sans-serif;
  text-align: center;
}

.taglinetwo {
  color: $alizarincrimson;
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.btn {
  align-content: center;
  background-color: $alizarincrimson;
  margin: 50;
  outline-color: $darkgrey;
  padding: 50;
  position: relative;
  top: 50%;
}

.table {
  border: 1px solid $darkgrey;
}

// .clearfix::after, .footer {
//   clear: both;
//   display: block;
//   font-size: 0;
//   height: 0;
//   text-align: right;
//   visibility: hidden;
// }

.footer {
  background-color: $alizarincrimson;
  bottom: 0;
  color: $ghostwhite;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
// .btn-primary {
//   float: left;
// }

// .offering {
//   background-image: url('https://i.imgur.com/R5Xk457.png');
//   background-size: cover;
//   background-position: center;
//   margin-left: 0;
//   margin-right: 0;
//   margin-bottom: 0;
//   height: 100vh;
//   text-align: center;
// }
